# A .gitignore for Keil projects.
# Taken mostly from http://www.keil.com/support/man/docs/uv4/uv4_b_filetypes.htm

# uVision files
*.opt
*.uv2
*uvopt*
*uvgui*
*uvproj.bak

# Listing, Object, and Debug folder
/Listings
/Objects
/DebugConfig

# Binary files
*.axf
*.b[0-3][0-9]
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.o
*.sbr

# Build files
*.bat
*._ia
*.__i
*._ii

# Debugger files
*.ini

# Other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
*.pack
*.pdsc
*.plg
*.sct
*.sfd
*.sfr

# Misc
*.tra
*.fed
*.l1p
*.l2p
*.iex

#VSCode Settings
/.vscode
/LibV2
/Priv